@media (max-width: 1100px) {
    .GameView-boxes {
        width: 100%;
        padding: auto 100px;
    }
}

.GameView-box {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    border-radius: 1rem;
    padding: 1.25rem;
    margin: 1.5rem auto;
    box-sizing: border-box;
    height: 6rem;
    font-family: Lexend, sans-serif;
}


/* Prevents newline from showing up when typed */

.GameView-box>div {
    display: inline-block;
}

.GameView-box-yes {
    background: var(--guessbg-yes);
    color: var(--guessfg-yes);
}

.GameView-box-no {
    background: var(--guessbg-no);
    color: var(--guessfg-no);
}

.GameView-box-guess {
    font-family: Lexend, sans-serif;
    border: 0.44rem solid var(--guessfg-guess);
    color: var(--guessfg-guess);
    padding: 0.72rem;
    transition: all 100ms;
}

.GameView-box-guess:focus {
    outline: none;
    outline-width: none;
    border-color: var(--guessfg-guessfocus);
    color: var(--guessfg-guessfocus);
    transition: all 100ms;
}