@media screen and (max-width: 1000px) {
    .GameView-box {
        width: 90%;
    }
}

@media screen and (min-width: 1000px) {
    .GameView-box {
        width: 50%;
    }
}

.GameView-box {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    border-radius: 1rem;
    padding: 1.25rem;
    margin: 1.5rem auto;
    box-sizing: border-box;
    height: 6rem;
    font-family: Lexend, sans-serif;
}

.GameView-box:focus {
    outline: none;
    outline-width: none;
}

.GameView-box>div {
    display: inline-block;
}

.GameView-box-yes {
    background: var(--guessbg-yes);
    color: var(--guessfg-yes);
}

.GameView-box-no {
    background: var(--guessbg-no);
    color: var(--guessfg-no);
}

.GameView-box-guess {
    font-family: Lexend, sans-serif;
    border: 0.44rem solid var(--guessfg-guess);
    color: var(--guessfg-guess);
    padding: 0.72rem;
    transition: all 100ms;
}

.GameView-box-guess:focus {
    border-color: var(--guessfg-guessfocus);
    color: var(--guessfg-guessfocus);

    padding: 0.645rem;
    font-size: 3.15rem;
    transition: all 100ms;
}