@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;800&display=swap');
body {
    margin: 0;
    font-family: Lexend, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg);
}

:root {
    --bg: #243e58;

    --guessbg-yes: #0070f0;
    --guessfg-yes: #fff;
    --guessbg-no: #b5cfe8;
    --guessfg-no: #507191;
    --guessfg-guess: #2984a8;
    --guessfg-guessfocus: #229dce;
    
    --hintbg: #3e3e61;
    --hintfg: #e3e3f4;


    --keybd: #507191;
}

h1 {
    font-weight: 700;
}