@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;800&display=swap');
body {
    margin: 0;
    font-family: Lexend, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
    --guessbg-yes: #0070f0;
    --guessfg-yes: #fff;
    --guessbg-no: #b5cfe8;
    --guessfg-no: #507191;
    --guessfg-guess: #2984a8;
    --guessfg-guessfocus: #229dce;
    
    --hintbg: #345eab36;
    --hintfg: #446cb5;

    --statsfg: #ffb300;
}

h1 {
    font-weight: 700;
}