.GameView-header {
    width: 100vw;
    height: 10vh;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.GameView-header h1 {
    font-size: 30pt;
}

.GameView-boxes {
    height: 42rem;
    margin: auto;
}

.GameView-mkwrap {
    position: fixed;
    bottom: 0;
    width: 50%;
    margin: auto;
    left: 0;
    right: 0;
}

@media screen and (max-width: 1000px) {
    .GameView-mkwrap {
        position: fixed;
        bottom: 0;
        width: 90%;
        margin: auto;
        left: 0;
        right: 0;
    }
}

.continents-map {
    width: 50%;
    height: 50%;
}