.GameView {
    width: 75vw;
    top: 0;
    right: 0;
    position: fixed;
    text-align: center;
}

.GameView-header {
    width: 100vw;
    height: 10vh;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.GameView-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 25vw;
    height: 100vh;

    z-index: 9999;
    backdrop-filter: blur(10px) brightness(40%);
    
    text-align: center;
    padding: 1rem;
}

.GameView-nav h1 {
    color: white;
    font-size: 2em;
    margin-bottom: 0;
}

.GameView-nav h3 {
    color: var(--statsfg);
    font-size: 1.25em;
    font-weight: 600;
    margin-top: 0;
}

.GameView-boxes {
    height: 42rem;
    margin: auto;
}

.GameView-mkwrap {
    position: fixed;
    bottom: 0;
    width: 50%;
    margin: auto;
    left: 25%;
    right: 0;
}

@media screen and (max-width: 1000px) {
    .GameView-mkwrap {
        position: fixed;
        bottom: 0;
        width: 90%;
        margin: auto;
        left: 25%;
        right: 0;
    }
}

.continents-map {
    width: 50%;
    height: 50%;
}

/* Mapple Keyboard */

.simple-keyboard.hg-layout-default .hg-button.mk-enter {
	background-color: #0ca0ff;
    color: white;
}

.simple-keyboard.hg-layout-default .hg-button.mk-bksp {
	background-color: #ffd4d4;
}

.simple-keyboard.hg-layout-default .hg-button.mk-clear {
	background-color: #ff7d7d;
}

.simple-keyboard.hg-layout-default .hg-button.mk-space {
	background-color: #d9f4ff;
}