.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

div.GameView {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: min-content;
}

.GameView-boxes {
    width: 50%;
    height: 42rem;
    margin: auto;
}

.GameView-mkwrap {
    position: fixed;
    bottom: 0;
    width: 50%;
    margin: auto;
    left: 0;
    right: 0;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.continents-map {
    width: 50%;
    height: 50%;
}