@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;800&display=swap');
body {
    margin: 0;
    font-family: Lexend, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}